### 파이썬 
- 화면출력 : print()

In [ ]:
print("안녕하세요",end="\t")
print('Hello Python', ' 반갑습니다', '수요일') # 문자열 취급 : "",''
print(type(100)) # int
print() 
print(type('Hello')) # str
print(type(123.25)) # float
print(type(True)) # bool => True / False 대문자로 시작

안녕하세요	Hello Python  반갑습니다 수요일
<class 'int'>

<class 'str'>
<class 'float'>
<class 'bool'>

In [5]:
print('T','E','S','T',sep="")
print('2026','02','04',sep="/")

TEST
2026/02/04

In [ ]:
a = 100
print(f"a의 값은 : {a}")
print("a의 값은 : %d " % a)
print ("%d : %s" %(13, "안녕하세요")) # % 여러개 사용시 묶어서 선언
print("%d%%" %98) # %% : % 문자 사용

a의 값은 : 100
a의 값은 : 100
13 : 안녕하세요
98%

### 변수
- 타입 지정 안함(값이 할당되면 타입이 결정)

In [15]:
str1 = "Life is too short, You need Python"
str2 = """Life is too short, You need Python 
Life is too short, You need Python
"""
str3 = '''Life is too short, You need Python 
Life is too short, You need Python
'''

In [16]:
print(str1)
print(str2)
print(str3)

Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python

Life is too short, You need Python
Life is too short, You need Python

In [18]:
a = 100
b = 200
c, d = 300, 400
print(a,b,c,d)

a=b=c=d=500
print(a,b,c,d)

100 200 300 400
500 500 500 500

In [19]:
a,b =10,15
print(a,b)
# a <=> b
a, b = b,a
print(a,b)

10 15
15 10

In [22]:
str1 = "500"
num1 = 500
result = int(str1)+ num1
print(result)

1000

In [ ]:
# 형변환
# int(), bool(), str()
a =1.0
print(bool(a))

a= 0.0
print(bool(a))

# print(int('99.5')) ValueError
print(int(99.5))
print(float("99.5"))

True
False
99
99.5

In [29]:
a,b= 5,3
print(a+b,a-b,a*b,a/b,a//b, a**b,a%b)

8 2 15 1.6666666666666667 1 125 2

In [30]:
a += 5
print (a)

10

In [ ]:
# Ex.1
# 동전 교환하기
# 7,777 => 동전 500원, 100원, 10원,...
money = 7777
money500 = money // 500
money =money% 500

money100 = money //100
money =money% 100

money50 = money //50
money =money% 50

money10 = money //10
money =money% 10

print(f"500원 {money500}개, 100원 {money100}개, 50원 {money50}개, 10원 {money10}개 , 나머지 {money}원")

500원 15개, 100원 2개, 50원 1개, 10원 2개 , 나머지 7원

In [ ]:
# 관계연산자 :  ==, !=, >= , <=
a,b =10,0
print(a==b,a!=b,a>=b,a<=b)

False True True False

In [ ]:
# 논리연산자 : 파이썬에서는 &&, ||, ! 를 사용하지 않음  and, or, not를 사용
a,b,c=10,60,15

print( a>b and b>c ) # &, | => 비트연산자
print( a>b or b>c )
print( not b>c )

False
True
False

In [44]:
# 키보드에서 입력받기
msg = input()
print(msg)

안녕하세요

In [ ]:
msg = input("input num : ")
print(msg)
print(type(msg)) # 입력받은 값은 str 타입

75
<class 'str'>

In [47]:
num1 =int(input("input num: "))
print(num1+100)

125

In [ ]:
#제어문
if True:
    print("Yes")

Yes

In [ ]:
# Ex.2
a = 200

# a가 100 보다 크고 200 이하이다
if 100<a<=200:
    print ("a가 100 보다 크고 200 이하이다")

a가 100 보다 크고 200 이하이다

In [51]:
# Ex.3
a,b,c=12,6,18

# 가장 큰 수 출력
max = a

if max < b :
    max = b
if max < c :
    max = c
print(f"가장 큰 수 : {max}")
print("가장 큰 수 : %d" % max)

가장 큰 수 : 18
가장 큰 수 : 18

In [55]:
a = 101
if a < 100:
    print("a는 100보다 작다")
else:
    print("a는 100보다 크다")

a는 100보다 크다

In [62]:
# 삼항연산자
# print(a <100 ? "a는 100보다 작다" : "a는 100보다 크다")
a = 99
result = "a는 100보다 작다" if a < 100 else "a는 100보다 크다"
print(result)

a는 100보다 작다

In [58]:
# Ex.4
# 입력한 숫자가 홀, 짝 구하기
a = int(input("숫자 입력 : "))

if a % 2 == 0 :
    print("짝수")
else :
    print("홀수")

홀수

In [ ]:
# 다중조건
# if elif else

num = 90

if num >= 90:
    print("A")
elif num >=80:
    print("B")
elif num >=70:
    print("C")
elif num >-60:
    print("D")
else:
    print("F")

In [63]:
# Ex.5
# 사칙연산기 ( 숫자 : 2개 , 연산자 : +, -, *, /, //, %)

num1 = int(input("input num1 "))
op= input("input op ")
num2 = int(input("input num2 "))

result = 0
if op == "+":
    result =num1+num2
elif op == "-":
    result =num1-num2
elif op == "*":
    result =num1*num2
elif op == "/":
    result =num1/num2
elif op == "//":
    result =num1//num2
elif op == "%":
    result =num1%num2

print(f"{num1} {op} {num2} = {result}")

5 * 25 = 125