### 문자열 타입

- 파이썬에서 문자열 '',"" 가능
- """ """, ''' ''' 가능 (문자열 여러줄일 때)

In [34]:
str1 = "Life is too short, You need Python"
str1 = 'Life is too short, You need Python'
str1 = """Life is too short, You need Python"""
str1 = '''Life is too short, You need Python'''

In [32]:
str1 = "Python's favorite food is perl"

In [6]:
str1

"Python's favorite food is perl"

In [ ]:
str1 = """\
Life is too short, You need Python
"""

str1

'Life is too short, You need Python\n'

In [14]:
# + : 연결
head = "Python"
tail = " is fun"

head + tail

'Python is fun'

In [ ]:
# * : 반복
head * 2

'PythonPython'

In [24]:
print("*" * 35)
print("번호 이름 나이 ")
print("***********************************")

***********************************
번호 이름 나이
***********************************

In [ ]:
# len : 길이
len(head)

6

In [37]:
str1 = "Life is too short, You need Python"

In [ ]:
# 인덱싱
print(str1[0]) # 왼쪽 시작
print(str1[-1]) # 오른쪽 시작
print(str1[-4])

L
n
t

In [46]:
# 슬라이싱
print(str1[0:5], end="")
print(str1[5:])
print()
print(str1[:])
print()
print(str1[19:-7])

Life is too short, You need Python

Life is too short, You need Python

You need

In [49]:
str2= "20260205Sunny"

date = str2[0:8]
weather = str2[8:]
print(date, weather)

20260205 Sunny

In [ ]:
# Ex.1 남자 여자 판별
str2 = "901205-4234567" # 1, 3 : 남자 / 2, 4 : 여자

no =str2[7]
if no == '1' or no =='3':
    print('남자')
else:
    print('여자')

여자

In [ ]:
# 문자열을 for문으로 돌리기 가능
for s in str1:
    print(s, end="")

Life is too short, You need Python

In [ ]:
# Ex.2
# 숫자를 입력받아서 개수만큼 하트로 표현 (54321)
no = input("숫자 입력")
for i in range(len(no)):
    for s in range(int(no[i])):
        print("♥", end=" ")
    print()

♥ ♥ ♥ ♥ ♥
♥ ♥ ♥ ♥
♥ ♥ ♥
♥ ♥
♥

In [ ]:
# %d : 정수 , %c : 문자, %f : 실수, %s : 문자열(만능)


print("I eat %d apples" % 3)
print("I eat %s apples" % 3) # %s (문자열)
print("I eat %s apples" % "five") # %s (문자열)
print("I eat %s apples" % 3.14) # %s (문자열)
print("I eat %s apples" % True) # %s (문자열)

I eat 3 apples
I eat 3 apples
I eat five apples
I eat 3.14 apples
I eat True apples

In [85]:
print("%10s" % "hi")
print("%0.4f" % 3.141592)

        hi
3.1416

In [89]:
# format()
print("I eat {0} apples" .format(3))
print("I eat {0} apples" .format("five"))
print("I eat {0} apples, so I was sick for {1} days" .format(10,3))

I eat 3 apples
I eat five apples
I eat 10 apples, so I was sick for 3 days

In [91]:
number = 10
day = "three"
print("I eat {0} apples. so I was sick for {1} days".format(number,day))
print(f"I eat {number} apples. so I was sick for {day} days")

I eat 10 apples. so I was sick for three days
I eat 10 apples. so I was sick for three days

In [97]:
print("{0:>10}".format("hi")) # 10자리 우측정렬
print("{0:^10}".format("hi")) # 10자리 가운데정렬
print("{0:<10}".format("hi")) # 10자리 좌측정렬

print(f"{number:>10}")
print(f"{number:^10}")
print(f"{number:<10}")

        hi
    hi
hi
        10
    10
10

In [ ]:
# 문자열 함수

a = "hobby"
# count() : 문자열 안에서 특정 문자의 개수
print(a.count("b"))

# find() : 문자열 안에서 특정 문자 찾기 (못 찾으면 -1)
print(a.find("o"))
print(a.find("a"))

# index() : find()와 비슷, 못 찾으면 error
print(a.index("o"))
# print(a.index("a")) # error 발생

# join() : 문자열 삽입
",".join("abcd")

list = ['a','b','c']
print(list)
print("".join(list))  # ★★★ (리스트를 문자열로 변경) ★★★

2
1
-1
1
['a', 'b', 'c']
abc

In [115]:
# upper(), lower()
a= 'Hobby'
print(a)
print(a.upper())
print(a.lower())

Hobby
HOBBY
hobby

In [117]:
# 공백제거 : strip() /rstrip() / lstrip()

a = "     hi    "
print(a)
print(a.rstrip())
print(a.lstrip())
print(a.strip())

     hi
     hi
hi
hi

In [ ]:
# replace()

a ="Life is too short"
a.replace("Life", "Your leg") # 다시 담지 않는 이상 원본 문자열은 바뀌지 않음

'Your leg is too short'

In [ ]:
# split()

a.split() # 공백 기준(default)

['Life', 'is', 'too', 'short']

In [ ]:
# startswith, endswith
a.startswith("L")
a.endswith("t")

True

In [ ]:
# Ex.3
# 년/월/일 입력 => 2026/02/26
# 10년 후의 날짜를 계산 후 보여주기 => 2036년 02월 26일
date= input("날짜를 입력해주세요(예:2026/02/26)")
date=date.split("/")
print(f"{int(date[0])+10}년 {date[1]}월 {date[2]}일")

2036년 02월 05일

In [1]:
# Ex.4
# 비밀번호 생성
# 규칙 1 : "http://www." 제외
# 규칙 2 : 마침표 이후 부분 제외
# 규칙 3 : 남은 글자 중 처음 세자리 + 글자 개수 + 글자 내 "e" 문자의 개수

url = "http://www.naver.com"
password =url.replace("http://www.","")
password = password[:password.find(".")]
password = password[0:3] + str(len(password)) + str(password.count("e")) + "!"
print(password)

nav51!

### 리스트
- 자바스크립트의 배열구조와 동일
- 중복가능, 순서가 있음

In [2]:
#리스트 생성
list1 = []
list2 = list()
list3 = ['a','b','c']
list4 = ['a','b','c',5,6,7,3.14]
list5 = ['a','b','c',['Life','is','too','short']]

In [3]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
[]
['a', 'b', 'c']
['a', 'b', 'c', 5, 6, 7, 3.14]
['a', 'b', 'c', ['Life', 'is', 'too', 'short']]

In [ ]:
# 인덱싱과 슬라이싱

print(list3[1:])
print(list3[-1:])
print(list5[3][1])
print(list5[-1][-2])
print(list4[::-1]) # 전체를 거꾸로 출력

['b', 'c']
['c']
is
too
[3.14, 7, 6, 5, 'c', 'b', 'a']

In [12]:
# + : 연결
print(list3 + list4)

# * : 반복
print(list3  *2)

['a', 'b', 'c', 'a', 'b', 'c', 5, 6, 7, 3.14]
['a', 'b', 'c', 'a', 'b', 'c']

In [15]:
# 리스트 값 수정

list3[2] = 'd'
print(list3)

list3[1:2] =[10,11]
print(list3)

list3[1] =[13,14]
print(list3)

['a', 10, 'd', 'd']
['a', 10, 11, 'd', 'd']
['a', [13, 14], 11, 'd', 'd']

In [ ]:
# append : 추가 (1개씩)
list2.append([15,16,17])
list2

[15, 15, [15, 16, 17]]

In [26]:
# : 삭제
list2[1:2] =[]
list2

[15]

In [30]:
# del : 삭제
del list3[1]
list3

['a', 'd']

In [33]:
# 정렬
list6 = [25,75,15,9,6,3,36]
print(f"정렬 전 {list6}")

list6.sort()
print(f"정렬 후 {list6}")

list7 = ['z','k','a','v','f']
print(f"정렬 전 {list7}")
list7.sort()
print(f"정렬 후 {list7}")

정렬 전 [25, 75, 15, 9, 6, 3, 36]
정렬 후 [3, 6, 9, 15, 25, 36, 75]
정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['a', 'f', 'k', 'v', 'z']

In [ ]:
list7 = ["z", "k", "a", "v", "f"]
print(f"정렬 전 {list7}")
list7.sort(reverse=True) 
print(f"정렬 후 {list7}")

정렬 전 ['z', 'k', 'a', 'v', 'f']
정렬 후 ['z', 'v', 'k', 'f', 'a']

In [ ]:
# sorted : sort와 다르게 원본 list를 건드리지 않음
list7 = ["z", "k", "a", "v", "f"]
result = sorted(list7)
print(list7) # 원본은 보존됨
print(result)

['z', 'k', 'a', 'v', 'f']
['a', 'f', 'k', 'v', 'z']

In [ ]:
# remove()
list3
list3.remove('a')

['d']

In [ ]:
list4.append('a')
list4.remove('a') # 앞에꺼부터 한개만 지움

In [44]:
list4

['b', 'c', 5, 6, 7, 3.14, 'a']

In [ ]:
# pop() : 맨 마지막 요소 제거
list4

['b', 'c', 5, 6, 7, 3.14]

In [55]:
# pop(index) : 해당 index 요소 제거
list4.pop(2)

5

In [53]:
# count()
print(list5)
list5.count("c")

['a', 'b', 'c', ['Life', 'is', 'too', 'short']]

1

In [56]:
list7 = list3 + list4
print(list7)

['d', 'b', 'c', 6, 7, 3.14]

In [ ]:
# extend : 원본에 추가
list3.extend(list4) # + 와 같은 결과이긴 하나 원본에 합산
print(list3)

['d', 'b', 'c', 6, 7, 3.14]

In [60]:
# clear : 리스트 요소 모두 삭제
list3.clear()
list3

[]

In [67]:
# Ex.5 
# 100 이상인 숫자의 개수
numbers = [273,103,5,32,65,9,72,800,99]
count = 0
for num in numbers:
    if num >=100:
        print(num)
        count+=1

print(f"100 이상의 수 : {count}")

273
103
800
100 이상의 수 : 3

In [71]:
# Ex.6
# numbers의 숫자와 자릿수 출력
# 273 : 3 자릿수 
for num in numbers:
    print(f"{num} : {len(str(num))}자릿수")

273 : 3자릿수
103 : 3자릿수
5 : 1자릿수
32 : 2자릿수
65 : 2자릿수
9 : 1자릿수
72 : 2자릿수
800 : 3자릿수
99 : 2자릿수

In [75]:
# Ex.7
# 1 ~ 100 까지의 숫자 중에서 짝수인 리스트를 생성
even = []
for i in range(1,101):
    if i % 2 == 0 : 
        even.append(i)

print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# 비어 있는 리스트, 문자열 : 거짓

if list1:
    print("True")
else:
    print("False")

False

In [80]:
# in
fruits=['사과','딸기','바나나','수박','배']

# fruits 안에 '딸기'가 있는가
if "딸기" in fruits:
    print("딸기 있음")

# for i in fruits:
#     if i =="딸기":
#         print("딸기 있음")
#         break

딸기 있음

In [ ]:
# enumerate(fruits) => index, value 묶어서 반환 
#                      (0, '사과') : Tuple 형태

for idx, fruit in enumerate(fruits):
    print(idx,fruit)

0 사과
1 딸기
2 바나나
3 수박
4 배

In [92]:
# Ex.8
classA = [70,60,55,75,95,90,80,85,100]

# 점수의 합과 평균 구하기
summary = 0
average = 0

for i in classA:
    summary +=i

average = summary / len(classA)

print(f"점수 합계 : {summary} 점수 평균 : {average}")

# sum 함수를 사용하면 더 편하게 구할 수 있음
print(f"점수 합계 : {sum(classA)} 점수 평균 : {sum(classA)/len(classA)}")

점수 합계 : 710 점수 평균 : 78.88888888888889
점수 합계 : 710 점수 평균 : 78.88888888888889

In [ ]:
car_name = "A"
ord(car_name) # 65
chr(66)

'B'

In [103]:
# 주차장 프로그램
# 5대만 주차 가능
parking_lot = []
top, car_name = 0, "A"

while True :
    no = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 "))
    if no <= 3:
        if no ==1:
            if top >= 5 :
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                print(f"{car_name}자동차 들어감. 주차장 상태 ==> {parking_lot}")
                car_name = chr(ord(car_name)+1)
                top += 1
        elif no ==2:
            if top > 0:
                car_name = chr(ord(car_name)-1)
                parking_lot.pop()
                print(f"{car_name}자동차 빠짐. 주차장 상태 ==> {parking_lot}")
                top -= 1
            else:
                print("빠져나갈 자동차가 없음")
        elif no ==3:
            print("프로그램 종료")
            break
    else :
        print("번호를 확인해주세요")

A자동차 들어감. 주차장 상태 ==> ['A']
B자동차 들어감. 주차장 상태 ==> ['A', 'B']
C자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
주차장 꽉 찼음
E자동차 빠짐. 주차장 상태 ==> ['A', 'B', 'C', 'D']
D자동차 빠짐. 주차장 상태 ==> ['A', 'B', 'C']
C자동차 빠짐. 주차장 상태 ==> ['A', 'B']
B자동차 빠짐. 주차장 상태 ==> ['A']
A자동차 빠짐. 주차장 상태 ==> []
빠져나갈 자동차가 없음
프로그램 종료

In [ ]:
# list comprehension

# 1 ~ 7
numbers = []
for n in range(1,8):
    numbers.append(n)
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [109]:
numbers2 = [n for n in range(1,8)]
numbers2

[1, 2, 3, 4, 5, 6, 7]

In [112]:
list1= ['갑','을','병','정','경']

# 정 글자를 제외한 새로운 리스트 생성
list2 = []
for ch in list1:
    if ch != '정':
        list2.append(ch)

list2

['갑', '을', '병', '경']

In [113]:
list2 = [ch for ch in list1 if ch != '정']
list2

['갑', '을', '병', '경']

In [117]:
# 1 ~ 100까지 홀수만 담는 리스트
# list(range(1,101,2))
numbers3 = [i for i in range(1,101) if i % 2 == 1]
print(numbers3)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [118]:
# Ex.9
# 5글자 이상의 항목만 저장하는 새로운 리스트 생성
list1 = ["nice","study","python","anaconda","!!!"]

list2 = [i for i in list1 if len(i)>=5]
print(list2)

['study', 'python', 'anaconda']

In [ ]:
print("ABC".isalpha()) # 알파벳
print("ABC".isnumeric()) # 숫자
print("ABC".isupper())
print("ABC".islower())
print("ABC".isalnum()) # 알파벳 or 숫자

True

In [122]:
# Ex.10
list1 = ["A","b","c","d","E","F","G"]

# 소문자만 추출 후 새로운 리스트 생성
list2 = [ s for s in list1 if s.islower()]
list2

['b', 'c', 'd']